* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  background: #8ac6d7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calc {
  background: orangered;
  padding: 20px;
  border-radius: 10px;
}
.calc form input {
  border: 1px solid black;
  outline: 0;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  box-shadow: -12px -12px 15px rgba(255, 255, 255, 0.1),
    3px 3px 15px rgba(0, 0, 0, 0.2);
  background: transparent;
  font-size: 20px;
  color: white;
  cursor: pointer;
  margin: 10px;
}
form .display {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}
form .display input {
  text-align: right;
  flex: 1;
  font-size: 35px;
  box-shadow: none;
  border-radius: 0;
}
@media (max-width: 400px) {
  .calc form input {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 370px) {
  .calc form input {
    width: 40px;
    height: 40px;
  }
}
